# Leslies Dev
LESLIES_DEV_HOST=
LESLIES_DEV_PORT=5432
LESLIES_DEV_DATABASE=
LESLIES_DEV_USERNAME=
LESLIES_DEV_PASSWORD=

# Leslies Test
LESLIES_TEST_HOST=
LESLIES_TEST_PORT=5432
LESLIES_TEST_DATABASE=
LESLIES_TEST_USERNAME=
LESLIES_TEST_PASSWORD=

# Leslies UAT
LESLIES_UAT_HOST=
LESLIES_UAT_PORT=5432
LESLIES_UAT_DATABASE=
LESLIES_UAT_USERNAME=
LESLIES_UAT_PASSWORD=

# Leslies Prod
LESLIES_PROD_HOST=
LESLIES_PROD_PORT=5432
LESLIES_PROD_DATABASE=
LESLIES_PROD_USERNAME=
LESLIES_PROD_PASSWORD=

# Crackerbarrel Dev
CRACKERBARREL_DEV_HOST=
CRACKERBARREL_DEV_PORT=5432
CRACKERBARREL_DEV_DATABASE=
CRACKERBARREL_DEV_USERNAME=
CRACKERBARREL_DEV_PASSWORD=

# Crackerbarrel Test
CRACKERBARREL_TEST_HOST=
CRACKERBARREL_TEST_PORT=5432
CRACKERBARREL_TEST_DATABASE=
CRACKERBARREL_TEST_USERNAME=
CRACKERBARREL_TEST_PASSWORD=

# Crackerbarrel UAT
CRACKERBARREL_UAT_HOST=
CRACKERBARREL_UAT_PORT=5432
CRACKERBARREL_UAT_DATABASE=
CRACKERBARREL_UAT_USERNAME=
CRACKERBARREL_UAT_PASSWORD=

# Crackerbarrel Prod
CRACKERBARREL_PROD_HOST=
CRACKERBARREL_PROD_PORT=5432
CRACKERBARREL_PROD_DATABASE=
CRACKERBARREL_PROD_USERNAME=
CRACKERBARREL_PROD_PASSWORD=
